<div class = 'container'>
  Welcome <%= @user.email %>
  <br>
  Recipes
  <br>
  <% @recipes.each do |recipe| %>
    <%= link_to recipe.title, show_recipe_path(recipe.id) %>
    <% if recipe.public %>
      <%= 'public' %>
    <% else %>
      <%= 'private' %>
    <% end %>
    <%= link_to 'delete', destroy_recipe_path(recipe.id), method: :delete %>
    <%= link_to 'edit', edit_recipe_path(recipe.id) %> 
    <br>
  <% end %>
</div>
