<!DOCTYPE html>
<html>
<head>
  <title>BakersMath</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <div class = 'container'>
    <ul>
      <li><%= link_to 'public recipes', public_recipes_path %></li>
      <% if session[:user_id] %>
        <li><%= link_to 'my recipes', dashboard_path %></li>
        <li><%= link_to 'add recipe', new_recipe_path %></li>
        <li><%= link_to 'log out', destroy_session_path, method: :delete %></li>
      <% end %>
    </ul>
<%= yield %>
<body>
</body>
</html>
